$prefix: 'leira-auth';

//Variables
$border-radius: var(--wp--style--border--radius, var(--wp--custom--border-radius, var(--wp--preset--radius--medium, 4px)));
$error-color: var(--wp--preset--color--vivid-red, #d63638);
$success-color: var(--wp--preset--color--vivid-green-cyan, #00a32a);


:where(.leira-auth){
	box-sizing: border-box;

	input:not([type=submit]),
	textarea {
		background-color: var(--wp--preset--color--base, #fff);
		border: 1px solid var(--wp--preset--color--contrast-3, #949494);
		border-radius: $border-radius;
		color: var(--wp--preset--color--contrast, currentColor);
		font-family: inherit;
		font-size: 1em;
		line-height: var(--wp--custom--line-height--body, 1.5);


		//--wp--preset--font-size--small
		//--wp--preset--font-size--medium
		//--wp--preset--font-size--large
		//--wp--preset--font-size--x-large
	}

	input:where(:not([type=submit]):not([type=checkbox])),
	textarea {
		padding: calc(.667em + 2px);
	}

	//&[style*="font-weight"] {
	//	:where(.comment-reply-title) {
	//		font-weight: inherit;
	//	}
	//}
	//
	//&[style*="font-family"] {
	//	:where(.comment-reply-title) {
	//		font-family: inherit;
	//	}
	//}
	//
	//&[class*="-font-size"],
	//&[style*="font-size"] {
	//	:where(.comment-reply-title) {
	//		font-size: inherit;
	//	}
	//}
	//
	//&[style*="line-height"] {
	//	:where(.comment-reply-title) {
	//		line-height: inherit;
	//	}
	//}
	//
	//&[style*="font-style"] {
	//	:where(.comment-reply-title) {
	//		font-style: inherit;
	//	}
	//}
	//
	//&[style*="letter-spacing"] {
	//	:where(.comment-reply-title) {
	//		letter-spacing: inherit;
	//	}
	//}

	:where(input[type=submit]) {
		//box-shadow: none;
		//cursor: pointer;
		//display: inline-block;
		//overflow-wrap: break-word;
		//text-align: center;
	}

	form {

		input:not([type=submit]):not([type=checkbox]):not([type=hidden]),
		textarea {
			box-sizing: border-box;
			display: block;
			width: 100%;
		}

		//&-cookies-consent {
		//	display: flex;
		//	gap: .25em;
		//
		//	#wp-comment-cookies-consent {
		//		margin-top: .35em;
		//	}
		//}
	}

	//.comment-reply-title {
	//	margin-bottom: 0;
	//
	//	:where(small) {
	//		font-size: var(--wp--preset--font-size--medium, smaller);
	//		margin-left: .5em;
	//	}
	//}

	.leira-form-messages-success {
		padding: calc(0.667em + 2px);
		border-radius: $border-radius;
		border: 1px solid $success-color;
		color: $success-color;
		background-color: color-mix(in srgb, $success-color 10%, transparent);

		> :not(:last-of-type) {
			margin-bottom: .25em;
		}
	}

	.leira-form-messages-error {
		padding: calc(0.667em + 2px);
		border-radius: $border-radius;
		border: 1px solid $error-color;
		color: $error-color;
		background-color: color-mix(in srgb, $error-color 10%, white);
		margin-bottom: .25em;

		> :not(:last-of-type) {
			margin-bottom: .25em;
		}
	}

	// Field
	.leira-auth-field {
		margin-block-start: 1em;
		margin-block-end: 1em;
		margin-inline-start: 0px;
		margin-inline-end: 0px;
		unicode-bidi: isolate;
	}

	// Label
	.leira-auth-label {
		display: inline-block;
		margin-bottom: .25em;
	}

	// Checkbox
	.leira-auth-check {
		display: block;
		min-height: 1.5rem;
		padding-left: 1.5em;
		//margin-bottom: .125rem;

		> input[type="checkbox"],
		.leira-auth-check-input {
			float: left;
			//margin-top: .2em;
			margin-left: -1.5em;
			//width: 1em;
			//height: 1em;
		}

		> label,
		.leira-auth-check-label {
			display: inline-block;
		}
	}

	// Validation
	.leira-auth-is-invalid {
		border-color: $error-color !important;
		outline-color: $error-color !important;
	}

	.leira-auth-invalid-feedback {
		margin-top: .25rem;
		color: $error-color !important;
		font-size: var(--wp--preset--font-size--small, small);
	}

	// Help
	.leira-auth-help {
		margin-top: .25rem;
		font-size: var(--wp--preset--font-size--small, small);
	}

}
